body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifl;
  background-image: linear-gradient(120deg, #fff5eb, #deedf0, #f4c7ab);
  min-height: 100vh;

}

div{
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ac66cc;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  
      
}
h1{
  
  color: pink;
  border-radius: 20px;
 
  padding: 10px;
  text-align: center;

}
div input{
  background-color: #fff !important ;
  color: black !important ;
  border: none !important ;
}
h2{
  font-size: 30px;
  font-weight: 600;
}
.text{
  text-align: left;
  margin-left: 150px;
}

#height, #weight{
  color: pink;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  border: 2px solid;
  background: none;
  border-bottom: 2px solid pink;
  width: 300px;
}

#result{
  color: pink;
  font-size: 30px;
  text-align: center;
}
#btn{
  font-size: 20px;
  font-family: inherit;
  margin-top: 10px;
  border: none;
  color:#fff; 
  background-color: tomato; 
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  
  cursor: pointer;
}
#btn:hover{
  box-shadow: 2px 2px 10px  pink;
}
#info{
  font-size: 20px;
  font-family: inherit;
}
